<div class="col sidebar-sticky dark-grey hidden" id="sidebar">
  <div class="sidebar-container">
    <span class="sidebar-subheader">
      Menu
    </span>
    <ul class="sidebar-section">
      <li class="sidebar-item button button-dark">
        <i class="fas fa-home"></i>
        <span class="item-text">
          Dashboard
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fab fa-uikit"></i>
        <span class="item-text">
          UI
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fas fa-chart-pie"></i>
        <span class="item-text">
          Charts
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fas fa-toggle-on"></i>
        <span class="item-text">
          Forms
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fas fa-table"></i>
        <span class="item-text">
          Tables
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fas fa-layer-group"></i>
        <span class="item-text">
          Pages
        </span>
      </li>
    </ul>
  </div>
  <div class="sidebar-container">
    <span class="sidebar-subheader">
      Features
    </span>
    <ul class="sidebar-section">
      <li class="sidebar-item button button-dark">
        <i class="fas fa-home"></i>
        <span class="item-text">
          Dashboard
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fab fa-uikit"></i>
        <span class="item-text">
          UI
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fas fa-chart-pie"></i>
        <span class="item-text">
          Charts
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fas fa-toggle-on"></i>
        <span class="item-text">
          Forms
        </span>
      </li>
      <li class="sidebar-item button button-dark">
        <i class="fas fa-table"></i>
        <span class="item-text">
          Tables
        </span>
      </li>
      </li>
    </ul>
  </div>
</div>