{% extends "base.html" %}
{% block title %}Flask gae app{% endblock %}
{% block content %}
  {% block header %}
  {% endblock %}
  <main role="main">
    <div class="row main-container">
      <div class="col sidebar-sticky dark-grey hidden" id="sidebar">
        <div class="sidebar-container">
          <span class="sidebar-subheader">
            Menu
          </span>
          <ul class="sidebar-section">
            <li class="sidebar-item button button-dark">
              <i class="fas fa-home"></i>
              <span class="item-text">
                Dashboard
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fab fa-uikit"></i>
              <span class="item-text">
                UI
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fas fa-chart-pie"></i>
              <span class="item-text">
                Charts
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fas fa-toggle-on"></i>
              <span class="item-text">
                Forms
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fas fa-table"></i>
              <span class="item-text">
                Tables
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fas fa-layer-group"></i>
              <span class="item-text">
                Pages
              </span>
            </li>
          </ul>
        </div>
        <div class="sidebar-container">
          <span class="sidebar-subheader">
            Features
          </span>
          <ul class="sidebar-section">
            <li class="sidebar-item button button-dark">
              <i class="fas fa-home"></i>
              <span class="item-text">
                Dashboard
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fab fa-uikit"></i>
              <span class="item-text">
                UI
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fas fa-chart-pie"></i>
              <span class="item-text">
                Charts
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fas fa-toggle-on"></i>
              <span class="item-text">
                Forms
              </span>
            </li>
            <li class="sidebar-item button button-dark">
              <i class="fas fa-table"></i>
              <span class="item-text">
                Tables
              </span>
            </li>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        {% block mainContent %}
        {% endblock %}
      </div>
    </div>
  </main>
  <div class="upload-menu" id="upload-menu">
    <div class="upload-background" id="upload-background"></div>
    <div class="upload-form form-container">
      <form id="upload-form">
          <button id="file-select" class="upload-file-select" type="button">
            <div class="upload-button">
              <i class="fas fa-file-upload"></i>
            </div>
            <span class="secondary" id="file-name">
              Drag files here
            </span>
          </button>
          <input class="hidden-input" accept="image/*" id="upload-input" type="file">

          <button class="btn btn-md btn-primary btn-block" type="submit">
            Upload photo
          </button>
      </form>
    </div>
  </div>
{% endblock %}