{% extends "base.html" %}
{% block title %}Submit user data{% endblock %}
{% block content %}
  <div class="container sign-container">
    <div class="secret-form-title">
      Awesome! One more step to complete. We need a secret and token.
    </div>
      <form id="secret-form" class="form-signin mt-5">
          <label for="Secret" class="sr-only">Secret</label>
          <input type="text" class="form-control mb-3 form-control-lg" placeholder="Secret" required="" name="secret">

          <label for="Token" class="sr-only">Token</label>
          <input type="email" class="form-control mb-3 form-control-lg" placeholder="Token" required="" autofocus="" name="token">

        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="userForm.eventHandlers.sendUserData()">Sign in</button>
      </form>
  </div>
{% endblock %}
