{% extends "base.html" %}
{% block title %}Submit user data{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signin.css') }}">
{% endblock %}
{% block content %}
  <div class="container d-flex align-items-center flex-column">
    <div class="secret-form-title">
      Awesome! One more step to complete. We need a secret and token.
    </div>
    <form id="secret-form" class="form-signin mt-4">
      <label for="Secret" class="sr-only">Secret</label>
      <input type="text" class="form-control mb-3 form-control-lg" placeholder="Secret" required="" name="secret">

      <label for="Token" class="sr-only">Token</label>
      <input type="text" class="form-control mb-2 form-control-lg" placeholder="Token" required="" autofocus="" name="token">

      <div class="secondary error mb-3"></div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>
{% endblock %}
