.rtl {
  direction: rtl;
  text-align: right;
}
.secondary {
  font-size : 14px;
}
.light-grey {
  color : #9e9e9e;
}
.dark-grey {
  color : #6a6a6a;
}
#container, .container {
  min-height: 100vh;
}
#container {
  background-color : #eee;
}

.navbar {
  background: #fff;
  box-shadow: 0 1px 3px #cdcdcd;
  max-height: 4em;
  height: 100%;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  max-width: 250px;
  flex-grow: 1;
  overflow: hidden;
  margin-right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.brand img {
  height: 100%;
  width: auto;
}
.user-logo {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.user-logo img {
  width: auto;
  min-width: 100%;
  max-width: 150%;
  min-height: 100%;
  max-height: 150%;
  transform: translate( -50% , -50% );
  left: 50%;
  top: 50%;
  position: absolute;
  cursor: pointer;
  transition: opacity 0.3s;
}
.user-logo-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.user-dropdown-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1em;
}
.user-dropdown {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 2px 11px 2px #0000005c;
}
.user-dropdown-container::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 10px;
  border-width: 0 10px 14px 10px;
  border-color: transparent transparent #304ffe transparent;
  border-style: solid;
}
.dropdown-header {
  padding: 16px 32px 32px 32px;
  font-size: 20px;
  color : #fff;
  background : #304ffe;
  user-select : none;
}
.dropdown-element {
  padding: 1em 2em;
  cursor: pointer;
  color: inherit !important;
  text-decoration: none !important;
}
.dropdown-element span {
  margin: 0 0.5em;
}
.current-page {
  display: none;
}
.error {
  color : #d34836;
}

main {
  height: 100%;
}
.main-container {
  min-height: 100vh;
  padding-top: 4em;
  margin: 0;
}

.sidebar-sticky {
  display: block;
  overflow-y: auto;
  max-width: 250px;
  background: #fafafa;
  box-shadow: 5px 0px 10px 0px #cdcdcd;
  padding: 1rem 0;
  transition: margin .3s;
  position: fixed;
  z-index: 10;
  max-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.sidebar-toggle {
  font-size: 22px;
  cursor: pointer;
  align-self: center;
  display: flex;
  padding: 7px 9px;
  margin: 0 0.5em;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.sidebar-subheader {
  padding: 1em;
  user-select : none;
  text-transform: uppercase;
}
.sidebar-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.button {
  transition: background .3s;
  cursor : pointer;
}
.button-dark:active {
  background : #ccc;
}
.button-dark:hover:not(:active) {
  background : #eee;
}
.button-light:active {
  background : #ddd;
}
.button-light:hover:not(:active) {
  background : #f0f0f0;
}
.sidebar-item .item-text {
  display: inline-block;
  margin: 0 1em;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.user-top, .user-main {
  width: 100%;
  border-radius: 0.5em;
  background : #fff;
  overflow: hidden;
}
.user-top {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}
.user-cover-photo {
  max-height: 400px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.user-cover-photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.user-top-section {
  padding: 1em 1em 2em;
  display: flex;
  flex-wrap: wrap;
}
.user-profile-photo {
  position: relative;
  width: 120px;
  height: 120px;
  margin: -70px 0 1em 0;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: background .3s;
}
.user-profile-upload {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #f0f0f0c3;
  opacity: 0;
  transition: opacity 0.3s;
}
.upload-menu {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.upload-background {
  width: 100%;
  height: 100%;
  background: #00000073;
}
.upload-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0);
  z-index : 1100;
}
.user-profile-photo:not(.loading):hover .user-profile-upload {
  opacity: 1;
}
.upload-button {
  display: flex;
  padding: 7px;
  cursor: pointer;
}
.upload-button i {
  box-shadow: 0px 3px 12px #0000008c;
}
.hidden-input {
  display: none;
}
.upload-file-select {
  width: 100%;
  padding: 1em;
  height: 160px;
  margin-bottom: 1em;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  background: #f0f0f0;
  border: 1px dashed #949494;
  position: relative;
  outline: none !important;
}
.user-profile-photo.loading .user-profile-upload {
  display: none;
}
.user-profile-photo.loading,
.user-logo-container.loading {
  background: #f0f0f0;
}
.user-profile-photo:not(.loading)::before {
  opacity: 0;
}
.user-profile-photo.loading img,
.user-logo-container.loading img {
  opacity: 0;
}
.profile-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate( -50%, -50% );
}
.user-profile-photo img {  
  flex: 1 0 auto;
  max-height: 200%;
}
.user-top-info {
  padding: 0 1em;
}

.user-main {
  padding: 1em;
}
.user-main-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1.25em;
}
.user-main-grid {
  width: 100%;
  white-space: nowrap;
}
.link {
  cursor: pointer;
  box-shadow: none;
  border: 0;
  outline: none !important;
  display: inline-block;
  background: none;
}
.link:hover {
  text-decoration: underline;
}
.btn.loading {
  color : #eee !important;
  transition: all .3s;
  background : #eee !important;
  border-color : #aaa !important;
  position: relative;
}
.btn.loading:focus {
  box-shadow: 0 0 0 0.2rem #aaa;
}
.loading::before {
  content: '';
  width: 30px;
  height: 30px;
  top: calc( 50% - 15px );
  left: calc( 50% - 15px );
  position: absolute;
  animation: a infinite 0.6s;
  border: 1px solid #888;
  border-radius: 50%;
  border-width: 0px 1px 1px 1px;
  transition: 0.3s opacity;
}

@keyframes a {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body.rtl .confirm {
  margin-right: 0.5em;
}
body.rtl .sidebar-sticky.hidden {
  margin-right: -250px;
}
body.rtl .current-page {
  margin-left: auto;
}
body.rtl .user-dropdown-container {
  left: 0;
  right: unset;
}
body.rtl .user-dropdown-container::before {
  left: 10px;
  right: unset;
}
body:not(.rtl) .current-page {
  margin-right: auto;
}
body:not(.rtl) .confirm {
  margin-left: 0.5em;
}
body:not(.rtl) .sidebar-sticky.hidden {
  margin-left: -250px;
}