@media screen and ( min-width: 768px ) {
  .sidebar-sticky.sidebar-sticky {
    margin: 0 !important;
    position: relative !important;
    overflow: visible !important;
    max-height: unset !important;
  }
  .sidebar-item.sidebar-item {
    padding: 0.5em 2em;
  }
  .sidebar-subheader.sidebar-subheader {
    padding: 1em 2em;
  }
  .navbar.navbar {
    padding: 0.5em 2em;
  }
  .user-main.user-main {
    padding: 2em;
  } 
  .user-top.user-top {
    margin-bottom: 3em;
  }
  .user-top-section.user-top-section {
    padding: 1em 2em 3em;
  }
  .about-page.about-page {
    margin: 1em;
  }
  .current-page.current-page {
    display: block;
  }
  .sidebar-toggle.sidebar-toggle {
    display : none;
  }
}